$bgColorTwo:rgb(0,18,51);
// $nav:#1FA49B;
$text:#FF595A;
$text2:#F2F7A1;

#sidebar{
position: fixed;
overflow-y: auto;
background:#088395;
// height: 100vh;
color:#F2F7A1;
width: 250px;
height: 100%;
z-index: 1;
margin-left: -1%;
}
.section{
    width: 100%;
    margin: auto;
    display: grid;   
    padding: 1%;
    margin-bottom: 5%;
    color: white;
    font-weight: 400;
    line-height: 25px;  
    justify-content: space-evenly;   
    align-items: self-end;  
    .nav_link{
        color:white;
    }
}
@media screen and (max-width: 768px) {
    #sidebar {
      width: 100%; /* Full width for small screens */   
    }
  }
.nav_link:active{
    background: white;
    color: black;
} 

.user-info{
    color: $text2;
    font-weight: 700;    
    margin: auto;
    // padding: 7%;
    align-items: center;   
    .user-image{
        // width: 20%;
        // height: 20%;
        margin-right: 2%;
        color: white;
    }
}
// .line {
//     width: 100%;
//     height: 1px;
//     background-color: #ccc;
//     margin: 20px 0;
//   }
// .section3{
//       margin-top: 15%; 
// }
// #sidebar{   
//     padding: 1%;   
   
// }
