$bgColor: #3495eb;
$text:antiquewhite;

.formDiv{
    background: $bgColor;
    margin: auto;
    width:100%;     
}
form {
    margin: 20px;
    padding: 20px;
    color:$text; 
    height: 78vh;   
  }
  .mAuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container take up the full viewport height */
  }